@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;

}

/* css for the darkmode button to apply it  */
/* to add dark effect we car replacing the color to our own variable */
:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color:#fff;
}

/* here we are changing the color  */
/* we have to apply these things on body whenever the dark mode button clicked  */
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color:#000;
}

/* there is a problem when we refreshed it again come to normal white mode = to solve this we use localstorage concept */






body{
    /* background: #efefef; */
    background: var(--body-color);
    transition: background 0.3s;
}

img{
    cursor: pointer;
}

/* lets style nav  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #1876f2; */
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.logo{
    width: 160px;
    margin-right: 45px;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;

}



.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin-left: 30px;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 18px;

}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}


/* adding css for online  */
.online{
    position: relative;
    cursor: pointer;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}






/* //lets start editing .container  */


.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    /* background: #cbdffa; */
    flex-basis: 25%;/*it is basically space  */
    position: sticky;
    /* we have to use top when we use sticky  */
    top: 70px;
    align-self: flex-start;


}
.right-sidebar{
    /* background: #cbdffa; */
    flex-basis: 25%;
    position: sticky;
    /* we have to use top when we use sticky  */
    top: 70px;
    align-self: flex-start;
    /* background: #fff; */
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;



}

.main-content{
    flex-basis: 47%;
}


/* ------lets edit important links--------------  */
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

/* adding color to last link  */
.imp-links a:last-child{
    color: #1876f2 ;
}

/* adding :horizontal line on left sidebar below imp links */
.imp-links{
    border-bottom: 1px solid #ccc;
}

/* --------- css for shortcut links -------- */

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;

}

.shortcut-links p{
    margin: 25px 0;
    color: #626262;
}


/* ----------- Css for .right-sidebar -------------- */

.sidbar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;

}

.sidbar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 13px;

}


/* lets add css to .right-sidebar events  */

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;

}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;

}


.sidebar-ads{
    width: 100%;
    margin-bottom: 4px;
    border-radius: 4px;
    /* display: block; */
}

/* css for rightside user list  */

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border: 50%;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}






/* ----------------css for main content------------------ */

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* background-color: red; */

}

.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    /* height: 32%; */

    /* linear gradien is used to add layer on the img  */
    /* background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-1.png); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position:absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}




/* --------Adding backgound image for stories----------- */
.story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-1.png);

}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-2.png);

}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-3.png);

}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-4.png);

}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(images/status-5.png);

}



.story.story1 img{
    top: unset;
    left:50% ;
    bottom: 40px;
    /* transorm is used to set the icon to center  */
    transform: translate(-50%);
    border: 0;
    width: 35px;

}









/* Css after story section  */

.write-post-container{
    width: 100%;
    /* background:#fff ; */
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262 ;
}

.user-profile{
    display: flex;
    align-items: cente;

}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small{
    font-size: 12px;
}


.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;

    /* resize none is used to hide the resize option from the textarea; */
    resize: none;
}



/* --------- CSS for the tags below the input--------- */
.add-post-links{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;

}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}


.post-container{
    width: 100%;
    /* background: #fff; */
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;

}

.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}


.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;

}


/* css for post image  */

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* css for post botttom buttons or say post row  */

.post-row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}


.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row .corner-icon{
    color: #9a9a9a;
}







/* css for load more button */

.load-more-btn{
    color: #626262;
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background: transparent;
    border-radius: 4px;
}



/* css for footer / */

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;

}







/* --------- CSS for drop down menu or settings menu------------ */

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    /* height: 500px; */
    /* background: #fff; */
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;

    /* this is used to hide element  */
    max-height: 0;
    transition: max-height 0.3s;
}

/* this is only added to use javascript on it  */
.settings-menu-height{
    max-height: 450px;
}

.user-profile a{
    font-size:12px ;
    color: #1876f2 ;
    text-decoration: none;
}

.settings-menu-inner{
    padding: 20px;
}


.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;

}


/* css for settings link for drop down menu  */

.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}



/*----------- css for dark mode button ----------- */


#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;/*to make the item center here*/
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    /* background: var(--bg-color); */
    border-radius: 50%;
    display: inline-block;
}

/* dark-btn-on is not used anywhere in html it only for js  */
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}











/* ---------Media Queries----------- */


@media (max-width:950px){

    .search-box{
        display: none;
        width: 100%;
    }
    .left-sidebar{
        display: none;
    }

    .container{
        flex-direction: column;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .load-more-btn{
        display: none;
    }

}


@media (max-width:550px){

    .post-input-container {
        padding-left: 0;
    }
    .nav-left ul li img{
        width: 18px;
        margin-right:0px;
    }
    .logo{
        width: 100px;
        margin-right: 10px;
    }

    .nav-user-icon img{
        width: 30px;
    }

    .online::after{
        width: 5px;
        height: 5px;
    }
    .story img{
        width: 30px;
        border: 2px solid #1876f2;
    }

    .story.story1 img{
        width: 20px;
    } 

    .add-post-links{
        justify-content: space-evenly;
    }
    
    .add-post-links a{
        font-size: 12px;
    
    }
    
    .add-post-links a img{
        width: 15px;
        margin-right: 5px;
    }


}










/* ------------CSS for PROFILE Page------- */

.profile-container{
    padding: 20px 15%;
    color: #626262;
}

.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}


.profile-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row{
    display: flex;
    align-items: flex-start;

}

.pd-image{
    width:100px ;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3{
    font-size: 25px;
    font-weight: 600;

}

.pd-row div p{
    font-size: 13px;
}

.pd-row div img{
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}


.pd-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: var(--bg-color);
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;

}


.pd-right button img{
    /* width: 20px; */
    height: 15px;
    margin-right: 10px;
}


.pd-right button:first-child{
    background: #e4e6eb;
    color: #000;
}

.pd-right{
    text-align: right;
}

.pd-right a{
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}

.pd-right a img{
    width: 20px;
}

.profile-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.info-col{
    flex-basis: 33%;
    position: sticky;
    top:0px;

}

.post-col{
    flex-basis: 65%;
}

.profile-intro{
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro h3{
    font-weight: 600;

}

.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}

.intro-text img{
    width: 15px;
    margin-bottom: -3px;
}


.profile-intro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}


.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}


.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;
}


.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a{
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;

}


.photo-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img{
    width: 100%;
    cursor: pointer;
}


.profile-intro p{
    font-size: 14px;

}


.friends-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.friends-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div{
    position: relative;
}

.friends-box p{
    position: absolute;
    bottom: 0;
    left: 0;

}
